@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color:  #b4a9bc;   /* #2F303A; */
  /*         */
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  
  /*padding-left: 100px;
  /*min-height: 100%;
  height: 140px;
  padding-right: 70px;*/
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size:0.75em; 

}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover  {
  color: #adadad;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;

}

/* header styles*/
.main-header {
  height: 120px;
  padding-left: 100px;
  padding-right: 70px;
  background-color: #806C8D; /*  #e066ff;  */ 
  border-radius: .5rem;
  font-size: 1.25em
  margin-bottom:10px;
}

.main-footer {
  height: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: .75rem;
  background-color: #c0b6c8 /*#806C8D */;
  
}
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  color: #202027;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
 /* padding: 0 40px; */
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2188d8;
}

.btn:focus {
  background-color: #2596ff;
}

footer {
  height: 10px;
  color: #EADDC4; /*color: #202027*/
  font-size: .8em;
  padding: 1em;
  border-radius: .5rem;
  text-decoration-color: none;
  padding-top: .75rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  /*position: fixed;*/
  
}




.wrapper{
  margin-top: 40px;
}